*{

    margin: 0;
    padding: 0;

}

.container{
    max-width: 1440px;
}

#hero{

    display: flex;
    flex-direction: column;
    margin: 100px 0;
    align-items: center;
    justify-content: center;

}

#hero .container{
    display: flex;
    padding: 50px 10px;
    align-items: start;
    flex-direction: column ;
    gap: 50px 0;
    justify-content: center;
} 

.productos{
    display: flex;
    flex-direction: column;
    align-items: start  ;
    justify-content: center;
}

.textos{

    padding: 0 0 0 0;


}

.textos h1{

    font-size: 67px;
    padding: 0 150px 0 0;
}